{% extends 'base.html' %}

{% block content %}
<h1>회원정보수정</h1>
<form action="{% url 'accounts:update'%}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='정보수정'>

</form>
<hr>
<form action="{% url 'accounts:change_password'%}" method="POST">
    {% csrf_token %}
    {{passform.as_p}}
    <input type="submit" value='비밀번호변경'>

</form>
<hr>
<form action="{%url 'accounts:delete'%}" method="POST">
    {% csrf_token %}
    <input type="submit" value="회원탈퇴">
</form>


    {% comment %} <h1>비밀번호 변경</h1> {% endcomment %}
    {% comment %} <form action="{% url 'accounts:change_password'%}" method="POST">
        {% csrf_token %}
        {{pform.as_p}}
        <input type="submit">
    </form>  {% endcomment %}
{% endblock content %}