{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>
        <p style="text-align:center;">

        칠판
    </p>
    </h1>
<hr>
<div class="container" style="display:grid">
    
    {% for i in memdic %}
    

    
	<h2>
        {% if i.0 == 1 %}
        {% comment %} <div class="item">{{i}}</div> {% endcomment %}
        {{i.2}}
        <img src="{% static i.1 %}" alt="{{i}}"  height="150">

        {% else %}
        <form action="{%url 'randomseat:go' %}" method='POST'>
            {% csrf_token %}
            <input type="submit" name= {{forloop.counter0}} id='my' value='누굴까~용?'>

        </form>
        {% endif %}
    </h2> 

    {% endfor %}
</div>


{% endblock content %}