<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <input type="text" id='text'>
    <input type="submit" id='submit'>
    <script type="text/javascript">
        $('#submit').on('click', function(e) {
            data = $('#text').val();
            $.ajax({
                type:'POST',
                //url:'127.0.0.1:8000/gogo',
                url:'/randomseat/gogo/',
                data:JSON.stringify(data),
                success:function(json){
                    console.log("data pass success",json);
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
                }
           });
          });
        </script>



</body>
</html>