{% extends 'base.html' %}
{% load static %}


{% block content %}
<input type="text" id='text'>
<input type="submit" id='submit' value='1'>


{% endfor %}
<div id='data'>

</div>

<h1>
        <p style="text-align:center;">

        칠판
    </p>
    </h1>
<hr>
<div class="container" style="display:grid">
    
    {% for i in memdic %}
	<h2>
        {% if i.3 == 1 %}
        {% comment %} <div class="item">{{i}}</div> {% endcomment %}
        {{i.2}}
        <img src="{% static i.1 %}" alt="{{i}}"  height="150">

        {% else %}
        {% comment %} <form action="{%url 'randomseat:go' %}" method='POST'>
            {% csrf_token %} {% endcomment %}
            <input type="submit" name= {{forloop.counter0}} id= {{i.0}} '' value={{i.0}}>
            

        </form>
        {% endif %}
    </h2> 

    {% endfor %}
</div>
<script>
    for(let i=0; i<24; i++){
        
        
        $('#'+i).on('click', function(e) {
            data = $('#'+i).val();
            $.ajax({
                type:'POST',
                //url:'127.0.0.1:8000/gogo',
                url:'/randomseat/',
                data:JSON.stringify(data),
                success:function(json){
                    document.getElementById("data").innerHTML=json['memdic'][data];
                    console.log("data pass success",json);
                
                },
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); 
                }
            });
        });
        
    }
</script>

{% endblock content %}